html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scrollbar-color: white;
  height: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
	font-family: Tahoma;
	background-color: #004455;
	color: white;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
}

@media screen and (min-width: 480px) {
	* {
		font-size: 16px;
	}
}
@media screen and (max-width: 480px) {
	* {
		font-size: 12px;
	}
}

#logo {
	padding: 10px;
}

#footer {
	background-color: black;
	width: 100%;
	padding-bottom: 2em;
}

#footer a {
	color: lightgray;
	text-decoration: none;
}

#footer a:hover {
	color: #9cd0ce;
}

#footer .copyright {
	color: #bbb;
	text-align: center;
	font-size: 0.9em;
}


footer .footer-row {
	margin: 2em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#banner {
	padding: 0;
	margin: 0;
}

.banner-line {
	height: 2px;
	width: 100%;
	background: linear-gradient(to right, transparent 0%, orange 50%, transparent 100%);
	padding: 0;
	margin: 0;
}


.links {
	padding-left: 0;
}

.links li {
	list-style-type: none;
}

#page-wrapper {
	background-size: 100% auto;
	background-repeat: no-repeat;
	min-height: 20em;
	padding-top: 1px;
}

@media screen and (min-width: 800px) {
	.text-container {
		width: 60%;
		margin: 10em auto 2em auto;
		font-family: serif;
		box-shadow: 0px -5px 20px black;
	}

	footer .footer-row {
		margin-left: auto;
		width: 80%;
		margin-right: 2em;
	}
}

@media screen and (min-width: 480px) and (max-width: 800px) {
	.text-container {
		width: 80%;
		margin: 7em auto 5% auto;
		font-family: serif;
		box-shadow: 0px -5px 20px black;
	}
}

@media screen and (max-width: 480px) {
	.text-container {
		width: 94%;
		margin: 7em auto 5% auto;
		font-family: serif;
		box-shadow: 0px -5px 20px black;
	}
}

.text-container {
	position: relative;
	z-index: 100;
	background-color: rgba(255,255,255, 0.85);
	color: black;
	padding: 1em;
	line-height: 1.8em;
}

.text-container p:not(.textblock){
	padding-left: 3em;
}

.text-container span {
	margin-left: -2em;
}

.text-container p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.textblock {
	padding-left: 1em;
}

span::after {
	content: "\000A";
  white-space: pre;
}

.bgpicture {
	width: 100vw;
	position: absolute;
	z-index: 1;
}

.credits {
	text-align: center;
}

.credits a {
	color: white;
	text-decoration: none;
}
